/*滚动条宽度*/
::-webkit-scrollbar {
width: 8px;
}
/* 轨道样式 */
::-webkit-scrollbar-track {
}
/* Handle样式 */
::-webkit-scrollbar-thumb {
border-radius: 10px;
background: rgba(0,0,0,0.2);
}
/*当前窗口未激活的情况下*/
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(0,0,0,0.1);
}
/*hover到滚动条上*/
::-webkit-scrollbar-thumb:vertical:hover {
background-color: rgba(0,0,0,0.3);
}
/*滚动条按下*/
::-webkit-scrollbar-thumb:vertical:active {
background-color: rgba(0,0,0,0.7);
}
/*-------------------------- public ---------------------------*/
.container-fluid { position: relative; }
/* fixed */
.fixed-left { position: fixed; left: 0; top: 0; bottom: 0; }
.fixed-right { position: fixed; right: 0; top: 0; bottom: 0; }
.fixed-top { position: fixed; left: 0; right: 0; top: 0; }
.fixed-bottom { position: fixed; left: 0; right: 0; bottom: 0; }
/* absolute */
.abs-left { position: absolute; left: 0; top: 0px; bottom: 0; width: 100% }
.abs-right { position: absolute; right: 0; top: 0; bottom: 0px; width: 100% }
.abs-top { position: absolute; left: 0; right: 0; top: 0px; width: 100% }
.abs-bottom { position: absolute; left: 0; right: 0; bottom: 0px; width: 100% }
/* color css */
.bg-black { background-color: #000014; }
.bg-white { background-color: #fff; }
.bg-grey{background-color: #f1f1f1}
/*basic styling*/
body { font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; color: #7d7d7d; }
.parallax { background-image: url("../images/parallax_bg6.jpg"); background-attachment: fixed; background-position: 0 0; background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
/*navigation*/
.logo { margin: 10% auto }
.subject { color: #ea5404; margin: 3% auto }
.content { color: #fff; font-size: 18px }
.top-buffer { margin-top: 30px; }
.top { margin-bottom: 150px; }
.result { width: 200px; height: 200px; margin: 0 auto; position: relative; bottom: -100px; }
.logo-circle { position: absolute; display: table; text-align: center; width: 200px; height: 200px; }
.logo-circle span { display: table-cell; vertical-align: middle; }
/*------------------------------------------------------------------------------------------------------*/

/*ghost buttons*/

.btn-ghost { background: transparent; border-top-width: 1px; border-style: solid; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.btn-ghost:hover { -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.ghost-white, .ghost-white:focus { border-color: white; color: white; }
.ghost-white:hover { background: white; color: #333; }
.ghost-black, .ghost-black:focus { border-color: black; color: black; }
.ghost-black:hover { background: black; color: #fff; }
/*/end ghost buttons*/

/*------------------------------------------------------------------------------------------------------*/

/*Social Buttons*/

.btn-social, .btn-social:focus { transition-duration: 0.2s; background-color: transparent; border-width: 1px; color: rgba(65,184,254,1); border-color: rgba(65,184,254,1); font-size: 24px; width: 66px; height: 66px; border-radius: 100%; }
.btn-social:hover { transition-duration: 0.2s; color: white; }
.btn-facebook:hover { background-color: #41b8fe; border-color: #41b8fe; }
.btn-twitter:hover { background-color: #41b8fe; border-color: #41b8fe; }
.btn-youtube:hover { background-color: #fc5e63; border-color: #fc5e63; }
.btn-google-plus:hover { background-color: #fc5e63; border-color: #fc5e63; }
.btn-rss:hover { background-color: #ffa200; border-color: #ffa200; }
/*end social buttons*/

/*------------------------------------------------------------------------------------------------------*/

/*newsletter form*/

.newsletter-focus { box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); }
.newsletter-focus-btn { background-color: rgba(65,184,254,1); }
.newsletter-form { border-radius: 5px; }
.newsletter-form input { border-left: none; box-shadow: none; }
/*reset*/
.form-control:focus { box-shadow: none; border-color: rgba(65,184,254,1); }
.newsletter-form input, .newsletter-form textarea, .newsletter-form .input-group-addon, .newsletter-form .input-group-btn .btn-default, .newsletter-form .btn-default { resize: none; background-color: #f9f9f9; border-color: rgba(65,184,254,1); }
.newsletter-form .input-group-addon, .newsletter-form .input-group-btn .btn-default, .newsletter-form .btn-default { color: rgba(65,184,254,1); }
.newsletter-form .input-group-btn .btn-default:hover, .newsletter-form .btn-default:hover { transition-duration: 0.05s; border-left-color: transparent; background-color: rgba(65,184,254,1); color: white; }
 input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */
 font-size: 13px;
 color: #b5b5b5;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 font-size: 13px;
 color: #b5b5b5;
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
 font-size: 13px;
 color: #b5b5b5;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
 font-size: 13px;
 color: #b5b5b5;
}
/*end newsletter form*/
/*counter*/
.counter { margin: 3% auto }
.counter ul { padding: 0; list-style-type: none; color: white; }
.counter ul li { margin: auto 3%; }
.counter ul li .digit { /*value of the timer*/ font-size: 72px; }
.counter ul li .time { /*description of value in the timer*/ font-size: 24px; display: block }
/*end of counter*/
